In [126]:
import numpy as np
import pandas as pd

In [127]:
data = pd.read_csv("Salaries.csv")

C:\Users\MOHAMM~1\AppData\Local\Temp/ipykernel_18048/1061168072.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Salaries.csv")

In [128]:
## Getting the first 10 rows in our dataset

In [129]:
data.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [130]:
## Getting the last 10 rows in the dataset

In [131]:
data.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [132]:
## Getting the shape of the dataset

In [133]:
data.shape

(148654, 13)

In [134]:
## general info about the dataset

In [135]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [136]:
## Checking the missing values in the dataset

In [137]:
data.isnull().sum(axis=0)

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [138]:
data.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [139]:
## Dropping the unimportant columns: 'ID', 'Agency', 'Status', 'Notes'

In [140]:
data = data.drop(columns = ['Id','Agency','Status','Notes'])

In [141]:
data.shape

(148654, 9)

In [142]:
## Getting the overall statistics for our dataset

In [143]:
data.describe()

            TotalPay  TotalPayBenefits           Year
count  148654.000000     148654.000000  148654.000000
mean    74768.321972      93692.554811    2012.522643
std     50517.005274      62793.533483       1.117538
min      -618.130000       -618.130000    2011.000000
25%     36168.995000      44065.650000    2012.000000
50%     71426.610000      92404.090000    2013.000000
75%    105839.135000     132876.450000    2014.000000
max    567595.430000     567595.430000    2014.000000

In [144]:
## Finding the occurrence of the Employee Names (Top 5)

In [145]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [146]:
data.loc[:,'EmployeeName'].value_counts().head(5)

EmployeeName
Kevin Lee       13
William Wong    11
Richard Lee     11
Steven Lee      11
John Chan        9
Name: count, dtype: int64

In [147]:
## Finding the number of unique job titles

In [148]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [149]:
data.loc[:,'JobTitle'].nunique()

2159

In [150]:
## Total number of job titles containing 'Captain'

In [151]:
data[data['JobTitle'].str.contains('Captain',case=False)].shape[0]

552

In [152]:
## Displaying all employee names from the fire department

In [153]:
data[data['JobTitle'].str.contains('Fire Department',case=False)]['EmployeeName'].unique()

array(['PATRICK GARDNER', 'ALSON LEE', 'MICHAEL MORRIS',
       'JOANNE HAYES-WHITE', 'ARTHUR KENNEY', 'DAVID FRANKLIN',
       'MARTY ROSS', 'VICTOR WYRSCH', 'RAYMOND GUZMAN', 'MONICA FIELDS',
       'JOSE VELO', 'BRENDAN WARD', 'MICHAEL THOMPSON', 'THOMAS ABBOTT',
       'THOMAS SIRAGUSA', 'BRYAN RUBENSTEIN', 'KEN YEE',
       'KIRK RICHARDSON', 'KENNETH SMITH', 'CHARLES CRANE',
       'ROBERT POSTEL', 'RICHARD BUSALACCHI', 'KEVIN BURKE',
       'EDUARDO GONZALEZ', 'ROBERT WINSLOW', 'LORRIE KALOS',
       'MICHAEL BRYANT', 'MARK GONZALES', 'REX HALE', 'KEVIN SMITH',
       'KEVIN TAYLOR', 'ERIKA HOO', 'SAMSON LAI', 'KHAIRUL ALI',
       'JOHN HICKEY', 'EDWARD CHU', 'ZACHARY PUMPHREY', 'MARK CASTAGNOLA',
       'LUIS IBARRA-RIVERA', 'MICHAEL KEARNEY', 'MATTHEW MCNAUGHTON',
       'GEORGE LYSENKO', 'ALBERTO PEDRUCO', 'DWAYNE CURRY',
       'DENNIS SUTTER', 'ROBERT SERRANO', 'JAMES VANNUCCHI',
       'CANTREZ TRIPLETT', 'RYAN KENNEDY', 'JOHN ROCCO', 'EDMUND VAIL',
       'ANDREW SAITZ', 'BERGLIOTH MATHEWS', 'PABLO SIGUENZA',
       'DANIEL YONTS', 'DAVID THOMPSON', 'JAMES BLAKE', 'RYAN CREAN',
       'RUDY CASTELLANOS', 'MICHAEL GONZALES', 'ROBERT LOPEZ',
       'JOHN MURPHY', 'KENNETH CORDERO', 'JIM HALL III', 'MARK JOHNSON',
       'BRENDAN MCGORRIN', 'WILLIAM MCFARLAND', 'RAEMONA WILLIAMS',
       'JEFFREY BARDEN', 'MATTHEW CANNON', 'RICHARD UNTALAN',
       "DENNIS O'NEILL", 'FLOYD ROLLINS', 'THOMAS KOHMANN',
       'RAUL FRANCISCO', 'ALAN REYNAUD', 'DENISE NEWMAN', 'JOHN CREMEN',
       'FRANK KOSTA', 'FRANK HSIEH', 'MATTHEW HUTCHINSON', 'DAVID BROWN',
       'VINCENT NOLAN', 'CHERISH MURDOCK', 'LARS ASPELIN', 'JORGE PLATA',
       'ANESTO ESTRELLA', 'KENNETH HUPKE', 'RONALD LEWIN',
       'JOSEPH SCHIEBOLD', 'CHRISTINE EMMONS', 'DONALD GOGGIN',
       'ANTHONY BENDIK', 'NORMAN CABA', 'SEAN MCKINNEY',
       'ERNEST CARRILLO', 'MATTHEW SCHWARTZ', 'ALEXANDER DOUGLAS JR',
       'DUSTIN WINN', 'ERIC LEAL', 'DENNIS SULLIVAN', 'PATRICK RABBITT',
       'JOSEPH BARBERO', 'ANNE TAM', 'CHRISTOPHER MADSEN',
       'JEANINE NICHOLSON', 'JAMES DRAPER', 'TERRY SMERDEL',
       'CHARLES MC COY', 'RANDALL HIRO', 'LLOYD GOLDBERG',
       'AISHA KRIEGER', 'CHASE WILSON', 'TYSON YEE', 'ALLEN WONG',
       'BRIAN WALSH', "PAUL O'KANE", 'PAUL MCDONAGH', 'JANEEN PIROSKO',
       'ROBERT ARZAVE', 'RUBEN MONTERO', 'DAVID MURRAY', 'KAREN HEALD',
       'GERALD SCULLION', 'JENNIFER MATHEWS', 'DARIUS LUTTROPP',
       'NEAL CAVELLINI', 'JIRO YAMAMOTO', 'JOEL SATO', 'KYLE MERKINS',
       'JEFFREY WONG', 'DOMINIC OTTOBONI', 'ANGELA ROMERO', 'JOHN GRANT',
       'DAVID RITTER', 'WALTER VILLAVICENCIO', 'KEVIN PARDINI',
       'MARC KASPER', 'JOE CHAN', 'CRISTEO REYES', 'MICHAEL MALONEY',
       'DAVID SMILEY', 'ETHAN JACKSON', 'MICHAEL CHARLTON',
       "PATRICK D'ARCY", 'LAWRENCE CONRAD', 'MICHAEL BARRY',
       'STEPHEN CASSIDY', 'ROBERT KISHI', 'TIMOTHY FARMER',
       'BRICE PEOPLES', 'DAWN DEWITT', 'HEATHER PIPER', 'MARC EVANS',
       'AARON STEVENSON', 'EUGENE ADAMS', 'CATHERINE EMMONS-SAMSON',
       'BRENT STUCKERT', 'KENNETH JONES', 'MICHAEL DUNCAN', 'MATTHEW LEE',
       'ANTHONY RIVERA', 'ANSON WU', 'HERMAN WOO', 'THERESA WOLOWIC',
       'PETER GROSS', 'JAMES REIDY', 'THERESA KWAN', 'ANTHONY SMERDEL',
       'RICKY YEE', 'ERICA ARTESEROS', 'ROBERT TURNQUIST', 'SEAN MULLANE',
       'WAYNE WONG', 'MICHAEL FUCCIOLO', 'KATHY AUSTIN', 'BROCK WELLS',
       'KIMBERLY MC KEON', 'RAMON SERRANO', 'GREGORY BLATMAN',
       'PATRICK SULLIVAN', 'SEAN JOHNSTON', 'KEVIN MC KEON',
       'THOMAS OERTLI', 'CHRISTOPHER BENZ', 'JUSTIN BROWN',
       'CYNTHIA RICKERT', 'CHADWICK ERTOLA', 'CECILIA JIANG',
       'JOHN CHUNG', 'JOHN LOPES', 'ROBERT NEUNEKER', 'DANIEL GRIFFIN',
       'SHIRLEY SZELA', 'KAREN KERR', 'STEPHEN MC PARTLAN',
       'ROBERT MCDONALD', 'JAMES APP', 'ROBERT ZLATUNICH',
       'FREDERICK PUTT', 'SHANE FRANCISCO', 'ALAN WONG',
       'CLIFTON MERRILL', 'KENNETH LINNEY', 'ANTHONY GARIBALDI',
       'MARK HARDEMAN', 'DAT TRUONG', 'DWAYNE NEWTON', 'ALISON YEE',
       'LEONEL TINGIN', 'RONALD VANPOOL', 'LESLIE WONG', 'HELEN KIEFFER',
       'ROBERT CAPPA', 'SETH RUBENSTEIN', 'PATRICIA LUI',
       'PATRICK MARTINEZ', 'AUDRY LEE', 'VINCENT PEREZ', 'JENSEN RHODES',
       'JAMES BARDEN', 'Joanne Hayes-White', 'Joanne M Hayes-White',
       'Robert E Evans'], dtype=object)

In [154]:
## Finding the minimum, maximum and average base pay

In [155]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [156]:
data['BasePay'] = data['BasePay'].replace('Not Provided', 'NaN') # Replacing 'Not Provided' with NaN

In [157]:
print("Minimum BasePay:", data['BasePay'].astype(np.float64).min())
print("Maximum BasePay:", data['BasePay'].astype(np.float64).max())

Minimum BasePay: -166.01
Maximum BasePay: 319275.01

In [158]:
## Replacing 'Not Provided' in EmployeeName with NaN

In [163]:
data['EmployeeName'] = data['EmployeeName'].replace('Not provided','NaN')

In [164]:
data['EmployeeName']

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650                  NaN
148651                  NaN
148652                  NaN
148653            Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

In [165]:
## Drop the rows having 5 or more missing values

In [181]:
data.drop(index = data[data.isnull().sum(axis=1) >= 5].index, inplace = True)

In [182]:
## Finding the job title of Albert Pardini

In [183]:
data[data['EmployeeName'] == 'ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [185]:
## How much does Albert Pardini make (including the Benefits)?

In [186]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [193]:
data[data['EmployeeName'] == 'ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

In [195]:
## Display the name of the person having the highest BasePay

In [200]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [202]:
data['BasePay'] = data['BasePay'].astype(np.float64)

In [212]:
data.sort_values(by='BasePay', ascending=False)['EmployeeName'].iloc[0]

'Gregory P Suhr'

In [213]:
data[data['BasePay'] == data['BasePay'].max()]['EmployeeName']

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [214]:
## Average BasePay of all Employees per year

In [217]:
data['Year'].unique()

array([2011, 2012, 2013, 2014])

In [216]:
data.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [218]:
## Average BasePay of All Employees per JobTitle

In [222]:
data['JobTitle'].isnull().sum(axis=0)

np.int64(0)

In [228]:
data.groupby('JobTitle')['BasePay'].mean()

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2159, dtype: float64

In [229]:
## Average BasePay of Employee having job title Accountant

In [230]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [239]:
data[data['JobTitle'] == 'ACCOUNTANT']['BasePay'].mean()

np.float64(46643.172)

In [240]:
## Finding the top 5 most common jobs

In [241]:
data['JobTitle'].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64